body {
  margin: 0;
}

ul {
  background-color: blue;
  display: flex;
  width: 100%;
  height: 20vh;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  text-align: center;
  flex-grow: 1;
  transition: background 400ms linear, color 400ms ease;
}
ul li a {
  color: yellow;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
ul li:hover {
  background: yellow;
}
ul li:hover a {
  color: blue;
}

.video-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
}
.video-box > * {
  min-width: 25%;
  max-width: 35%;
  border: 1px solid black;
  min-height: 350px;
}
.video-box video {
  width: 100%;
}
.video-box :not(video) {
  padding: 0.5rem;
}

.store-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
}
.store-box > * {
  min-width: 25%;
  max-width: 35%;
  border: 1px solid black;
  min-height: 350px;
  padding: 0.5rem;
}
.store-box img {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}

.rest-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
}
.rest-box > * {
  min-width: 25%;
  max-width: 35%;
  border: 1px solid black;
  min-height: 350px;
  padding: 0.5rem;
}
.rest-box img {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */